cconfig.guess
config.sub
.deps/
Makefile
arch/Makefile
arch/linux/Makefile.template
arch/linux/os.lo
arch/linux/x86_64/.deps/
arch/linux/x86_64/Makefile
arch/linux/x86_64/*.a
arch/linux/x86_64/*.lo
arch/linux/x86_64/*.o
build-stamp
config.h
config.log
config.status
debian/fakeroot-ng.debhelper.log
debian/fakeroot-ng.substvars
debian/fakeroot-ng/
debian/files
fakeroot-ng
*.o
*.a
stamp-h1
tests/.deps/
tests/Makefile
tests/*.a
tests/*.o
tests/calc_defaults
tests/exercise
tests/fbomb
tests/getsiginfo
tests/pwd
tests/thread
tests/wait_test
*~
